div#div_1
{
   color:#3b5998;
   width: 600px;
   height: 40px;
  
   direction: ltr;
   text-align: center;
   
   font-size: 40px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-top:10px;
   margin-bottom: 10px;
}
div#div_2
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:25px;
   letter-spacing:1px;
   margin-left:10px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_2 p
{
    color: black;
    font-size: 20px;
}
div#div_2 span
{
    color:blueviolet;
    font-size: 22px;
}
div#div_3
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_3 p
{
    color: black;
    font-size: 20px;
}
div#div_3 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_4
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_4 p
{
    color: black;
    font-size: 20px;
}
div#div_4 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_5
{
   color: rgb(0, 89, 255);
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_5 p
{
    color: black;
    font-size: 20px;
}
div#div_5 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_6
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:40px;
   
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
   
   
}
div#div_6 p
{
    color: black;
    font-size: 20px;
}
div#div_6 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_7
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_7 p
{
    color: black;
    font-size: 20px;
}
div#div_7 span
{
    color:#808080;
    font-size: 22px;
}div#div_8
{
   color: rgb(0, 89, 255);
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_8 p
{
    color: black;
    font-size: 20px;
}
div#div_8 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_9
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_9 p
{
    color: black;
    font-size: 20px;
}
div#div_9 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_10
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_10 p
{
    color: black;
    font-size: 20px;
}
div#div_10 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_11
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_11 p
{
    color: black;
    font-size: 20px;
}
div#div_11 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_12
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_12 p
{
    color: black;
    font-size: 20px;
}
div#div_12 span
{
    color:grey;
    font-size: 22px;
}div#div_13
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_13 p
{
    color: black;
    font-size: 20px;
}
div#div_13 span
{
    color:blueviolet;
    font-size: 22px;
}div#div_14
{
   color: #4769b3;
   width: 600px;
   
   background-color:white
   direction: ltr;
   text-align: start;
   font-size: 25px;
   margin-top:10px;
   letter-spacing:1px;
   margin-left:4px; 
   padding-top:40px;
   padding-left:10px;
}
div#div_14 p
{
    color: black;
    font-size: 20px;
}
div#div_14 span
{
    color:blueviolet;
    font-size: 22px;
}
div#aprés
{
    color:black;
    font-size: 25px;
    margin-left:20px ;
  }
a#a1
{
 color: white;
 text-decoration: none;
 font-size: 18px;
 margin-left: 10px;
 cursor: help;

 background-color: #4769b3;
 padding: 5px 5px 5px 5px;
 margin-bottom: 10px;
 margin-top: 10px;
 
}
a#a1:hover 
{
  color:orange;
  
}

a#a2
{
 color:#4769b3;
 text-decoration: none;
 font-size: 22px;
 margin-left: 10px;
 padding-bottom: 30px;
}
a#a2:hover 
{
  color: orange;
  
}
body
{
  background-image: url('https://user-images.githubusercontent.com/64173941/80534168-14cce880-899f-11ea-8c63-dfb72d9b60ab.png');

 
  background-position-x: 90%;
  background-size: 640px 610px ;
  
 
  background-attachment: fixed;
  background-repeat:no-repeat;
  height:6000px;
  background-color: #eaf2f8;
  
 
}

   
